@media screen and (max-width: 1000px) {
    .for-slim {
        display: block;
    }
    .for-wide {
        display: none;
    }
}
@media screen and (min-width: 1000px) {
    .for-slim {
        display: none;
    }
    .for-wide {
        display: block;
    }
}
@media screen and (max-width: 1000px) {
    .slim img {
        display: block;
        max-width: 250px;
        margin: 40px auto;
    }
}
@media screen and (max-width: 1000px) {
    .about-me {
        margin: 0;
        text-align: justify;
    }
    .about-me h1 {
        text-align: center;
    }
    .about-photo img {
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    main {
        margin: 0 60px;
    }
}
@media screen and (min-width: 1200px) {
    .slim {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .slim {
        display: block;
    }
    .wide {
        display: none;
    }
}

@media screen and (max-width: 1500px) {
    .avatar img {

    }
}
@media screen and (max-width: 800px) {
    .vk, .telegram {
        width: 80%;
    }
}
@media screen and (max-width: 700px) {
    .contacts h1 {
        font-size: 25px;
    }
}


